/arraysAndImages/
/results/

/__pycache__/

/imageGeneration/__pycache__/
/imageGeneration/templateSpecificFunctions/__pycache__/
/imageGeneration/helpers/__pycache__/

/imageProcessing/__pycache__/
/imageProcessing/templateSpecificFunctions/__pycache__/
/imageProcessing/helpers/__pycache__/

/postProcessing/__pycache__/

/postProcessing/compositeImages/__pycache__/
/postProcessing/compositeImages/templateSpecificFunctions/__pycache__/
/postProcessing/compositeImages/helpers/__pycache__/

/postProcessing/crossCorrelations/__pycache__/
/postProcessing/crossCorrelations/templateSpecificFunctions/__pycache__/
/postProcessing/crossCorrelations/helpers/__pycache__/


/postProcessing/csvGeneration/__pycache__/
/postProcessing/csvGeneration/templateSpecificFunctions/__pycache__/
/postProcessing/csvGeneration/helpers/__pycache__/


/postProcessing/generalStatistics/__pycache__/
/postProcessing/generalStatistics/templateSpecificFunctions/__pycache__/
/postProcessing/generalStatistics/helpers/__pycache__/

